@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 
font-family: 'Red Hat Display', sans-serif;
font-family: 'Red Hat Text', sans-serif;
*/

/* ANIMATION */

@keyframes expander {
  0% {
    height: 10vh;
  }
  100% {
    height: 50vh;
  }
}

@keyframes resizer {
  0% {
    height: 50vh;
  }
  100% {
    height: 10vh;
  }
}

.expand {
  animation: expander 1s forwards;
}

.resize {
  animation: resizer 1s forwards;
}

/* BODY */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MAIN */

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* CARD */

.main__content__cards {
  background-image: url(assets/img/background.png);
  background-size: 100% 100%;
  flex: 5;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
}

.card {
  justify-self: center;
  height: clamp(65px, 6vh, 7vh);
  width: calc(100% - 2em);
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  cursor: pointer;
}

.card__content__container {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.card__content__text__container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.card__content__info__container {
  display: flex;
  gap: 1em;
}

.info__calendar,
.info__project {
  display: flex;
  align-items: baseline;
  gap: 0.2em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.1);
}

.button__ellipse {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
}

.button__ellipse:hover {
  background-color: rgba(128, 255, 111, 0.5);
}

.card__content__icons__container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.icon--blue {
  color: rgba(61, 158, 255, 0.7);
  font-size: 22px;
}

.icon--red {
  color: rgba(255, 3, 3, 0.5);
  font-size: 22px;
}

.card__content__title {
  font-size: 18px;
  font-weight: 400;
}

.button--nostyle {
  border: none;
  background-color: inherit;
  display: flex;
  transition: transform 0.3s ease;
}

.button--nostyle:hover {
  transform: scale(1.25);
}

/* SIDE MENU */

.sidebar {
  flex: 1;
  border-right: 1px solid white;
  background: linear-gradient(90deg, #50c9c3 0%, #96deda 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Red Hat Display', sans-serif;
  padding: 1em 0;
}

.sidebar__title {
  font-weight: 300;
  font-size: 50px;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.sidebar__button__container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #363636;
}

.sidebar__button {
  display: grid;
  color: #363636;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: inherit;
  width: 15vw;
  height: 10vh;
  font-weight: 400;
  font-size: 18px;
}

.sidebar__button__title,
.checkmark {
  border: none;
  background-color: inherit;
  font: inherit;
  cursor: pointer;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 100%;
  height: 54px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.link__github {
  color: inherit;
}

/* SIDEMENU BUTTON MODALS */

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.sidebar__modal {
  border: #ffffff solid 1px;
  border-radius: 10px;
  background-color: #96deda;
  position: absolute;
  left: 45%;
  top: 35%;
  width: 300px;
  height: 300px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  z-index: 2;
}

.modal__input {
  height: 3vh;
  width: clamp(50px, 85%, 100%);
  font-size: 18px;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 10px;
  font-family: 'Red Hat Display', sans-serif;
}

.checkmarks__container {
  display: flex;
  align-items: center;
  gap: 6vw;
}

.checkmark {
  font-size: 3.5em;
  cursor: pointer;
}
